<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for lecture do |f| %>
  <div class="field">
    <%= form.label :course_id %>
    <%= form.number_field :course_id %>
  </div>

  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
 
  <div>
    <%= f.label :image %>
    <%= f.file_field :img %>
  </div>
 
  <%= f.submit %>
<% end %>


<% end %>
