<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for lecture do |f| %>
    <div class="field">
    <%= f.label :course_id %><br>
     <%= f.collection_select :course_id, Course.all, :id, :title %>
  </div>

  <div>
    <%= f.label :content %>
    <%= cktext_area :lecture, :content, cols: 40 %>
  </div>
 
  <div>
 <%= f.label :attachment %><br>
  <%= f.file_field :attachment_url %>
  </div>

  <%= f.submit %>
<% end %>


<% end %>
